<app-navbar></app-navbar>

<div class="container-fluid">
    <div class="row bus-animation">
        
    </div>
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5">
                <div class="card-body">
                    <h5 class="card-title text-center">Sign In</h5>
                    <form class="form-signin" [formGroup]="signinForm" (submit)="signIn()">
                        <div class="form-group">
                            <select class="form-control my-input" (change)="changeCity($event)" formControlName="category">
                                <option value="" disabled>Choose the Category</option>
                                <option *ngFor="let cat of category" [ngValue]="cat">{{cat}}</option>
                             </select>
                        </div>

                        <div class="form-group">
                            <input type="text" id="userInput" formControlName="userInput" class="form-control"
                                placeholder="Email or user id or phone" required autofocus>

                        </div>
                       
                        
                        <div class="form-group">
                            <input type="password" id="inputPassword" formControlName="password" class="form-control" placeholder="Password"
                                required>
                        </div>
                        <div class="form-group">
                            <input [disabled]="!signinForm.valid"   class="btn btn-lg btn-primary btn-block text-uppercase"
                             type="submit" value="SIGN IN">
                        </div>
            

                    </form>
                    <div class="text-center">
                        New User?<a href="#" routerLink="signup"> Sign up.</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>