<app-navbar-user></app-navbar-user>
<p>tickt works!</p>
<!-- ticket planning to show in pop up -->
<!-- ticket cancelled ,upcoming ,completed trips -->
<div class='container'>
    <div class="card" style="width: 18rem;">
        <div class="card-black">
            <div class="ticket-id">TICKET ID - CHNMAD123</div>
        </div>
        <div class="card-body">
          <h5 class="card-title">CHN <> MAD</h5>
          <table>
              <tr>
                <th class='ticket-text-heading'>Passengers</th>
                <td class='ticket-text-info'>8 Adults</td>
              </tr>
              <tr>
                <th class='ticket-text-heading'>Bus-No</th>
                <td class='ticket-text-info'>1892ych</td>
              </tr>
              <tr>
                <th class='ticket-text-heading'>Price</th>
                <td class='ticket-text-info'>2000</td>
              </tr>
          </table>
          <table>
            <tr>
              <th class='ticket-text-heading'>Date</th>
              <td class='ticket-text-info'>12 feb 2020</td>
            </tr>
            <tr>
              <th class='ticket-text-heading'>Seats</th>
              <td class='ticket-text-info'>s1,s2,s3,s4,s5</td>
            </tr>
            <tr>
              <th class='ticket-text-heading'>Departure</th>
              <td class='ticket-text-info'>20.10</td>
            </tr>
        </table>
          <a href="#" class="btn btn-primary">Make Payment</a>
          <a href="#" class="btn btn-primary">View Ticket</a>
        </div>
    </div>
</div>
