<div *ngIf="isBusoperator">
  <app-navbar-bus-op></app-navbar-bus-op>
</div>
<div *ngIf="!isBusoperator">
  <app-navbar-user></app-navbar-user>
</div>
<div class="alert alert-warning" role="alert">
      
  <div><b>ALERT:</b></div>
  <p>Make sure the ticket contains passenger <strong>contact information</strong> incase of <strong>sudden cancellation</strong> of buses.
   If the ticket does not contain your emergency contact information reach out to us through the toll-free number.  </p>
</div>
<!-- ticket -->
<div class='container'>
    <div class="card" style="width: 18rem;">
        <div class="card-black">
            <div class="ticket-id"><span>TiCKET ID</span>{{this.ticketid}}</div>
        </div>
        <div class="card-body">
          <h5 class="card-title">{{bus.Source}} <> {{bus.Destination}}</h5> 
          <table>
              <tr>
                <th class='ticket-text-heading'>Seats Booked</th>
                <td class='ticket-text-info'>{{seat}}</td>
              </tr>
              <tr>
                <th class='ticket-text-heading'>Bus-Name</th>
                <td class='ticket-text-info'>{{bus.Bus_Name}}</td>
              </tr>
              <tr>
                <th class='ticket-text-heading'>Bus ID</th>
                <td class='ticket-text-info'>{{bus.Bus_ID}}</td>
              </tr>
              <tr>
                <th class='ticket-text-heading'>Passenger Name</th>
                <td class='ticket-text-info'>{{user.name}}</td>
              </tr>
              <tr>
                <th class='ticket-text-heading'>Passenger Email</th>
                <td class='ticket-text-info'>{{user.email}}</td>
              </tr>
              <tr>
                <th class='ticket-text-heading'>Passenger Phone</th>
                <td class='ticket-text-info'>{{user.phnumber}}</td>
              </tr>
              <tr>
                <th class='ticket-text-heading'>Price</th>
                <td class='ticket-text-info'>{{total_bill}}</td>
              </tr>
          </table>
          <table>
            <tr>
              <th class='ticket-text-heading'>Date</th>
              <td class='ticket-text-info'>{{bus.Date}}</td>
            </tr>
            <tr>
              <th class='ticket-text-heading'>Departure</th>
              <td class='ticket-text-info'>{{bus.Departure}}</td>
            </tr>
            <tr>
              <th class='ticket-text-heading'>Arrival</th>
              <td class='ticket-text-info'>{{bus.Arrival}}</td>
            </tr>
            <tr>
              <th>Have a safe journey!</th>
            </tr>
            <tr>
              <td>For any details reach out to us at 1800-1800-1800</td>
            </tr>
        </table>
         
        </div>
    </div>
    <div class="container3">
      <button  (click)="AddTicket('payment')" id="payment" class="btn btn-primary">Make Payment</button>
      <!-- Option disabled for the bus operator-->
      <button  [disabled]="this.isBusoperator" routerLink="/trips" class="btn btn-primary">View Ticket</button>
    </div>
  
    
</div>
