.from{
    display:flex;
    margin: 131px -25px 31px -3px;
}
input.btn.btn-danger {
    margin: 10px 10px 9px 400px;
}
.card{
    margin:20px 20px 20px 20px;
}
ul{
    list-style: none
}
i{
    height:30px;
    width: 30px;
}
.dep-arr-diff{
   display:flex; 
}
.price-seats-left{
    display:flex;
}
.title{
    display:flex;
}
.card-title{
    margin: 0px 0px 0px 87px;
}
.card-text{
    margin-left:50px;
}
.suggestion{
    width:500px;
    font-size:10px;
    margin: 50px 100px 100px 367px;
}