<app-navbar></app-navbar>
<div class="container">
   <div class="row">
      <div class="col-md-4 mx-auto">
         <div class="myform form ">
            <form [formGroup]="userForm" name="login" (submit)="sendData()">
            
                  <select class="form-control my-input" (change)="changeCity($event)" formControlName="category">
                      <option value="" disabled>Choose the Category</option>
                      <option *ngFor="let cat of category" [ngValue]="cat">{{cat}}</option>
                   </select>
              
               <div >
                  <input type="text" formControlName="name" name="name" class="form-control my-input" id="name" placeholder="Name">
               </div>
               <div >
                  <input type="email" formControlName="email" name="email" class="form-control my-input" id="email" placeholder="Email">
               </div>
               <div >
                  <input type="number" formControlName="phnumber" min="10" name="phone" id="phone" class="form-control my-input"
                     placeholder="Phone">
               </div>
               <div >
                  <input type="password" formControlName="password" min="8" name="password" id="password" class="form-control my-input"
                     placeholder="password">
               </div>
               <div class="info-text">
                  <label for="pass">      should have length between (8-32).</label>  
               </div>
               <div class="text-center ">
                  <button  type="submit" class=" btn btn-block send-button tx-tfm">Create Your Free Account</button>
               </div>  
               {{userForm.valid}}
            </form>
         </div>
      </div>
   </div>
</div>