<nav class="navbar navbar-expand-lg " style="background-color: #f3073afa;">
    <a class="navbar-brand" href="#">BooKBuS</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" (click)="CheckforApproval()" >Add Bus</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="/viewbus">View-Modify Buses</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/profilebusop" >View Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="reset()" routerLink="/">Logout</a>
        </li>
      </ul>
     
    </div>
  </nav>
