<nav class="navbar navbar-expand-lg " style="background-color: #f3073afa;">
    <a class="navbar-brand" href="#">BooKBuS</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" routerLink="/allusers" >All Users</a>
          </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="/allbuses">Bus Approvals<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/busopapproval" >Bus Operator Approvals</a>
          </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/">Logout</a>
        </li>
      </ul>
     
    </div>
  </nav>
<p>bus approvals works!</p>

<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Bus Name</th>
        <th scope="col">Bus Operator</th>
        <th scope="col">Departure</th>
        <th scope="col">Arrival</th>
        <th scope="col">Date</th>
        <th scope="col">Source</th>
        <th scope="col">Destination</th>
        <th scope="col">Ticket Price</th>
        <th scope="col">Approval Status</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody >
      <tr *ngFor="let bus of busdata">
        <td>{{bus.Bus_Name}}</td>
        <td>{{bus.Bus_operator_id}}</td>
        <td>{{bus.Departure}}</td>
        <td>{{bus.Arrival}}</td>
        <td>{{bus.Date}}</td>
        <td>{{bus.Source}}</td>
        <td>{{bus.Destination}}</td>
        <td>{{bus.Ticket_price}}</td>
        <td>{{bus.approval_status}}</td>
        <td><button type="button" class="btn btn-dark" (click)="approve(bus._id)">Approve</button></td>
      </tr>
    </tbody>
  </table>