<app-navbar-user></app-navbar-user>

<div class="jumbotron">
    <div class="container">
    <div class="flex-container">
        <div id='red' onclick='ar()'>
        </div>
        <div  id= 'green' onclick='ar()'></div>
        <div id= 'grey' onclick='ar()'></div>  
    </div>
        
    <div class="container2">
        <div>
          <label id='text'>Available</label>
        </div>
        <div>
          <label id='text'>Booked</label>
        </div>
        <div>
          <label id='text'>Taken</label>
        </div>
    </div>
      
    <div class="container3">
        <div class='steerinclass'>
          <img class='steering' src="https://cdn4.iconfinder.com/data/icons/automotive-glyph/64/automotive_vehicle-18-512.png">
        </div>
        <table class='table1'>
          <tr>
            <td>
              <div onclick="ar()" class="seat"></div>
            </td>
             <td>
                <div onclick="ar()" class="seat"></div>
             </td>
          </tr>
           <tr>
            <td>
              <div onclick="ar()" class="seat"></div>
            </td>
             <td>
                <div onclick="ar()" class="seat"></div>
             </td>
          </tr>
          <tr>
            <td>
              <div onclick="ar()" class="seat"></div>
            </td>
             <td>
                <div onclick="ar()" class="seat"></div>
             </td>
          </tr>
          <tr>
            <td>
              <div onclick="ar()" class="seat"></div>
            </td>
             <td>
                <div onclick="ar()" class="seat"></div>
             </td>
          </tr>
          <tr>
            <td>
              <div onclick="ar()" class="seat"></div>
            </td>
             <td>
                <div onclick="ar()" class="seat"></div>
             </td>
          </tr>
        </table>
        <table class='table2'>
          <tr>
            <td>
              <div onclick="ar()" class="seat"></div>
            </td>
             <td>
                <div onclick="ar()" class="seat"></div>
             </td>
          </tr>
           <tr>
            <td>
              <div onclick="ar()" class="seat"></div>
            </td>
             <td>
                <div onclick="ar()" class="seat"></div>
             </td>
          </tr>
          <tr>
            <td>
              <div onclick="ar()" class="seat"></div>
            </td>
             <td>
                <div onclick="ar()" class="seat"></div>
             </td>
          </tr>
          <tr>
            <td>
              <div onclick="ar()" class="seat"></div>
            </td>
             <td>
                <div onclick="ar()" class="seat"></div>
             </td>
          </tr>
          <tr>
            <td>
              <div onclick="ar()" class="seat"></div>
            </td>
             <td>
                <div onclick="ar()" class="seat"></div>
             </td>
          </tr>
        </table>
      </div>
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
</div>
</div>
<button type="button" (click)='booked()' class="btn btn-success">Make payment</button>
<button type="button" routerLink="/ticket" class="btn btn-dark">View Ticket</button>
<router-outlet><router-outlet>
    